<h1>Edit Picture #<%= @picture.id %></h1>

<%= form_tag picture_url(@picture.id), method: "patch" do %>
  <%= label_tag :source, "Source URL:" %>
  <%= text_field_tag :source, @picture.source %>

  <%= label_tag :caption, "Caption:" %>
  <%= text_field_tag :caption, @picture.caption %>

  <%= submit_tag "Update Picture" %>
<% end %>

<%= link_to "Cancel", "http://localhost:3000/pictures/#{@picture.id}", class: "cancel-btn" %>
