<div class="row">
  <div class="span6 offset3">
    <h1>Add a New Picture</h1>

    <%= form_tag pictures_url, method: "post" do %>
      <fieldset>
        <%= label_tag :source, "Source URL:" %>
        <%= text_field_tag :source %>
      </fieldset>

      <fieldset>
        <%= label_tag :caption, "Caption:" %>
        <%= text_field_tag :caption %>
      </fieldset>

      <fieldset>
        <%= label_tag :favorite, "Favorite?" %>
        <%= check_box_tag :favorite %>
      </fieldset>
      <br>
      <%= submit_tag "Create Picture", class: "btn btn-success" %>
      or <%= link_to "Cancel", pictures_url, class: "cancel-btn" %>
    <% end %>
  </div>
</div>

