<h1>Add a New Picture</h1>

<%= form_tag "http://localhost:3000/pictures", method: "post" do %>
  <%= label_tag :source, "Source URL:" %>
  <%= text_field_tag :source %>

  <%= label_tag :caption, "Caption:" %>
  <%= text_field_tag :caption %>

  <%= submit_tag "Create Picture" %>
<% end %>

<%= link_to "Cancel", "http://localhost:3000/pictures", class: "cancel-btn" %>
